[Unit]
After=multi-user.target.service

[Service]
ExecStart=/usr/bin/python2 /usr/local/bin/viking-vision/viking-vision.py 0 -a 10.29.28.2 -s Left 

[Install]
WantedBy=default.target
